.post-title{

    .heading{
        color: rgba(0, 0, 255, 0.411);
    }
    .pt-inner{

        .posts{

            .heading{
                color: rgba(0, 0, 255, 0.411);
            }
            .h5{
                color: rgba(0, 255, 0, 0.349);
            }
            h2{

            }
            p{

            }
            footer{

                a{

                }
            }
            figure{

                img{

                }
            }
        }
    }
}