.f-under{
    background-color: #4A4E57;
    color: $fontClr;
    padding: 20px 0;
    font-size: 18px;
    font-family: $font1;
    .und-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}