.post-title{

    .pt-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .posts{
            border: solid rgb(240, 239, 239) 2px;
            padding: 20px;
            display: flex;
            justify-content: space-between;          
            .heading{
                color: rgba(4, 255, 4, 0.562);
                text-transform: capitalize; 
            }
            .h5{
                color: #00f;
                text-transform: capitalize;
            }
            h2{
                text-transform: capitalize;
            }
            p{

            }
            footer{

                a{
                    text-transform: capitalize;
                }
            }
            figure{

                img{
                    width: 300px;
                }
            }
        }
    }
}
.f-under{
    background-color: #4A4E57;
    color: $fontClr;
    padding: 20px 0;
    font-size: 18px;
    font-family: $font1;
    .und-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}